footer img{
    width: 40px;

}

.logo{
    width: 80px;
}



[value="c1"]:checked ~ div:nth-of-type(1) {
    display: flex;
}
  
[value="c2"]:checked ~ div:nth-of-type(1) {
  display: flex;
}
[value="c2"]:checked ~ div:nth-of-type(2) {
  display: none!important;
}

[value="c3"]:checked ~ div:nth-of-type(2) {
  display: flex;
  margin-top: 1.5rem!important;
}

[value="c3"]:checked ~ div:nth-of-type(1) {
    display: none!important;
}