body{
    display: grid;
    gap: 30px;
}

body>div>*{
    height: 200px;
}

.box{
    display: flex;
    width: 100%;
    gap: 30px;
    
    flex-wrap: wrap;
}


.box>div{
    flex: 1;
    flex-basis: 40%;
    background-color: bisque;
}

.box2{
    display: flex;
    width: 100%;
    gap: 30px;    
    flex-wrap: wrap; 
}

.box2>div{
    flex: 1;    
    background-color: brown;
    flex-basis: 20%;
}

.box3{
    display: grid;
    width: 100%;
    gap: 30px;    
    grid-template-rows: repeat(4, 1fr);      
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: column;
}

.box3>div{    
    background-color: blueviolet;
    font-size: 90px;
}
